.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-align-items-center {
	align-items: center;
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex-justify-evenly {
	justify-content: space-evenly;
}

@supports (-ms-ime-align: auto) {
	.flex-justify-evenly { justify-content: space-around; }
}
