$padding: 1rem;

.p0  { padding: 0; }

.p1  { padding: $padding; }
.px1 { padding-left: $padding; padding-right: $padding; }
.py1 { padding-top: $padding; padding-bottom: $padding; }

.pl1 { padding-left: $padding; }
.pr1 { padding-right: $padding; }
