$viewport-m: 32rem !default;
$viewport-l: 48rem !default;
$viewport-xl: 64rem !default;

$font-size: 12px !default;
$font-size-m: 15px !default;
$font-size-l: 16px !default;

$font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$link-color: #FFF !default;

$border-radius: 5px !default;

$measure-width: 48rem !default;

$primary-color: #fec602;
$highlight-color: #ff5c20;
$background-color: #001e3e;
$background-alt-color: #053598;
$disabled-color: #CCC;